name: push

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions:
  actions: read
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: write

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .github/linters/commitlint.config.mjs
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          skip: "*.template,*.pl"
  test:
    needs: [commitlint,codespell]
    if: success()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          sudo apt update
          sudo apt install -y libgcrypt20-dev libgnutls28-dev
          make test
  notify:
    needs: [test]
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docs:
              - 'docs/**'
      - uses: peter-evans/repository-dispatch@v3
        if: steps.filter.outputs.docs == 'true'
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_STREAMBINDER }}
          repository: streambinder/streambinder
          event-type: doc-sync
          client-payload: '{"repo": "${{ github.repository }}", "ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
